version: "3.8"

services:
  app:
    build: .
    container_name: secure_crud_app
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - private

  mongo:
    image: mongo:6
    container_name: secure_crud_db
    volumes:
      - mongo_data:/data/db
    networks:
      - private

  nginx:
    image: nginx:alpine
    container_name: secure_crud_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - private

networks:
  private:

volumes:
  mongo_data:
